.wrap{
  position: relative;
  // display: table;
}

header {

  &.main {
    position: relative;
    z-index: 999;

    background-color: $header-bg;

    .button {
      float: right;
    }

    .logo {
      float: left;
      padding: 10px 0;
    }
  }

  .top-nav{
    // reset
    @include reset-normalize;

    //layout
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:55%;
    top:0;
    bottom:0;
    right:0;


    .icon-search{
      width:50px;
      height:50px;
      display: inline-block;

      background:inline_image("svg/search.svg") center center no-repeat;
    }

    li{
      @include reset-normalize;
       //layout
      flex: 1;

      height:100%;
      position: relative;

      //Styles
      border-left:1px solid $top-nav-border;

      &:first-child{
        border-left:none;
      }


      a{
        //layout
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;

        //Styles
        color:$top-nav-txt;
        text-decoration: none;

        &:hover{
          background-color: $top-nav-hover;
        }

      }
    }
  }
}
