.wrap{
  position: relative;
  // display: table;
}

header {
  position: relative;
  &.main {
    background-color: $header-bg;

    .button {
      float: right;
    }

    .logo {
      float: left;
      padding: 10px 0;
    }
  }

  .top-nav{
    // reset
    @include reset-normalize;

    //layout
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:55%;
    top:0;
    bottom:0;
    right:0;


    .icon-search{
      width:50px;
      height:50px;
      max-height: 100%;
      display: inline-block;

      // background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%27-272%20395.9%2050%2050%27%3E%3Cstyle%3E.st0%7Bfill%3Anone%3Bstroke-linecap%3Around%7D.st0%2C.st1%7Bstroke%3A%23FFF%3Bstroke-miterlimit%3A10%7D.st1%7Bfill%3A%23FFF%7D%3C/style%3E%3Ccircle%20class%3D%27st0%27%20cx%3D%27-247%27%20cy%3D%27420.9%27%20r%3D%2715.5%27/%3E%3Cpath%20class%3D%27st1%27%20d%3D%27M-240.3%20427.5c-.5.5-1.3.5-1.8%200l-2.3-2.3a6.06%206.06%200%200%201-9.4-5.1c0-3.4%202.7-6.1%206.1-6.1%203.4%200%206.1%202.7%206.1%206.1%200%201.2-.4%202.3-1%203.3l2.3%202.3c.5.5.5%201.3%200%201.8zm-7.4-11.7c-2.4%200-4.3%201.9-4.3%204.3s1.9%204.3%204.3%204.3%204.3-1.9%204.3-4.3-1.9-4.3-4.3-4.3z%27/%3E%3C/svg%3E') center center no-repeat;
      background: url('data:image/svg+xml;base64,PHN2ZyBpZD0nTGF5ZXJfMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB2aWV3Qm94PSctMjcyIDM5NS45IDUwIDUwJz48c3R5bGU+LnN0MHtmaWxsOm5vbmU7c3Ryb2tlLWxpbmVjYXA6cm91bmR9LnN0MCwuc3Qxe3N0cm9rZTojRkZGO3N0cm9rZS1taXRlcmxpbWl0OjEwfS5zdDF7ZmlsbDojRkZGfTwvc3R5bGU+PGNpcmNsZSBjbGFzcz0nc3QwJyBjeD0nLTI0NycgY3k9JzQyMC45JyByPScxNS41Jy8+PHBhdGggY2xhc3M9J3N0MScgZD0nTS0yNDAuMyA0MjcuNWMtLjUuNS0xLjMuNS0xLjggMGwtMi4zLTIuM2E2LjA2IDYuMDYgMCAwIDEtOS40LTUuMWMwLTMuNCAyLjctNi4xIDYuMS02LjEgMy40IDAgNi4xIDIuNyA2LjEgNi4xIDAgMS4yLS40IDIuMy0xIDMuM2wyLjMgMi4zYy41LjUuNSAxLjMgMCAxLjh6bS03LjQtMTEuN2MtMi40IDAtNC4zIDEuOS00LjMgNC4zczEuOSA0LjMgNC4zIDQuMyA0LjMtMS45IDQuMy00LjMtMS45LTQuMy00LjMtNC4zeicvPjwvc3ZnPg==') center center no-repeat;

       background-size: cover;

    }

    li{
      @include reset-normalize;
       //layout
      flex: 1;

      height:100%;
      position: relative;

      //Styles
      border-left:1px solid $top-nav-border;

      &:first-child{
        border-left:none;
      }


      a{
        //layout
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;

        //Styles
        color:$top-nav-txt;
        text-decoration: none;

        &:hover{
          background-color: $top-nav-hover;
        }

      }
    }
  }
}
